In [1]:
import pandas as pd
import numpy as np
import json

df = pd.read_csv("../../data/Imp_trade_2016.csv")

# select relevant columns and filter columns that actually represent movement of goods
df = df[["Reporter.Countries", "Partner.Countries", "Item", "Year", "1000 Head", "Head", "tonnes"]]
df = df[(df["1000 Head"] != 0) | (df["Head"] != 0) | (df["tonnes"] != 0)]

In [2]:
def getQuantityAndUnits(row):
    if row["1000 Head"] != 0:
        unit = "1000 Heads"
    elif row["Head"] != 0:
        unit = "Heads"
    else:
        unit = "Tonnes"
    return [row["1000 Head"] + row["Head"] + row["tonnes"], unit]

df[["Quantity", "Unit"]] = df.apply(getQuantityAndUnits, axis=1, result_type="expand")

In [3]:
# drop the now unneeded columns of 1000 Head, Head and tonnes and rename the remaining columns
df = df[["Reporter.Countries", "Partner.Countries", "Item", "Year", "Quantity", "Unit"]]
df.rename(columns={"Reporter.Countries": "To Country", "Partner.Countries": "From Country"}, inplace=True)
df.sample(n=5)

,To Country,From Country,Item,Year,Quantity,Unit
433160,The former Yugoslav Republic of Macedonia,Italy,"Peas, dry",2016,7,Tonnes
471359,United States of America,Serbia,"Fruit, dried nes",2016,825,Tonnes
269599,Malta,United Kingdom,"Meat, beef, preparations",2016,100,Tonnes
381259,Singapore,Japan,"Eggs, hen, in shell",2016,8,Tonnes
40491,Belgium,Netherlands,"Tangerines, mandarins, clementines, satsumas",2016,8182,Tonnes

In [5]:
(df[df["To Country"] == "Singapore"]).nlargest(10, "Quantity")

,To Country,From Country,Item,Year,Quantity,Unit
381560,Singapore,Malaysia,"Beverages, non alcoholic",2016,318724,Tonnes
380734,Singapore,Indonesia,Fatty acids,2016,308568,Tonnes
381787,Singapore,Malaysia,"Waters,ice etc",2016,271926,Tonnes
381715,Singapore,Malaysia,"Oil, palm",2016,197018,Tonnes
381621,Singapore,Malaysia,Fatty acids,2016,149182,Tonnes
383676,Singapore,Thailand,Rice - total (Rice milled equivalent),2016,125024,Tonnes
378480,Singapore,Australia,Wheat,2016,119498,Tonnes
378452,Singapore,Australia,Sugar refined,2016,113316,Tonnes
380795,Singapore,Indonesia,"Oil, palm",2016,105044,Tonnes
380639,Singapore,India,Rice - total (Rice milled equivalent),2016,102057,Tonnes